<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-container">

        <div class="fondo">
            <h1 class="title">UEFA Champions League</h1>
        </div>
        <div class="equipos">
            <div>

                <img class="barca" src="./assets/barca.png" alt="">
                <h4 class="fcb">FC BARCELONA</h4>
            </div>
            <div>
                <h4 class="text">2 - 8</h4></div>
                
            <div>

                <img class="bayern" src="./assets/bayern.png" alt="">
                <h4 class="fcm">FC BAYERN</h4>
            </div>
        </div>

        <div class="result">

            <h4 class="det">Detalles Del Partido</h4>

            <div class="flex">
                <div class="dat">8</div>
                <div class="dat2">Tiros</div>
                <div class="dat">12</div>
            </div>

            <div class="flex">
                <div class="dat">22</div>
                <div class="dat2">Disparos</div>
                <div class="dat">29</div>
            </div>

            <div class="flex">
                <div class="dat">42</div>
                <div class="dat2">Posesión</div>
                <div class="dat">58</div>
            </div>

            <div class="flex">
                <div class="dat">3</div>
                <div class="dat2">Tarjetas</div>
                <div class="dat">5</div>
            </div>

            <div class="flex">
                <div class="dat">8</div>
                <div class="dat2">Corners</div>
                <div class="dat">7</div>
            </div>
        </div>

        <div class="fin" >

            <h4 class="text2"> Cara a Cara </h4>
<div class="result2">

    <div>
        <img class="barca" src="./assets/barca.png" alt="">
    </div>
    
    <div>

        <div class="flex">
            <div class="fn">2</div>
            <div class="fn">1</div>
            <div class="fn">2</div>
        </div>

        <div class="flex">
            <div class="fn">G</div>
            <div class="fn">E</div>
            <div class="fn">G</div>
        </div>
    </div>

    <div>
        <img class="bayern" src="./assets/bayern.png" alt="">

    </div>

</div>
</div>

    </div>
</body>
</html>