
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back">

        <h1 class="titulo">DIEGO FUTBOL</h1>
    
    <div class="container">
        <div>
            <h4 class="h4">Eventos en vivo</h4>
            <h4 class="ver">VER TODO</h4>
        </div>
        <div class="flex">
            <div class="div1"><img class="div1" src="./assets/logo1.jpg" alt=""></div>
            <div class="div1"><img class="div1" src="./assets/logo2.png" alt=""></div>
            <div class="div3"><img class="div3" src="./assets/logo3.png" alt=""></div>
            <div class="div1"><img class="div1" src="./assets/logo4.jpg" alt=""></div>
            <div class="div1"><img class="div1" src="./assets/logo5.jpg" alt=""></div>
            <div class="div1"><img class="div1" src="./assets/logo6.png" alt=""></div>    
    
        </div>
    </div>
    <div>
        <div>

            <h4 class="h4" style="color: white;">Eventos en vivo</h4>
            <h4 class="ver">VER TODO</h4>
        </div>
    </div>
    <div class="cards">
    
        <div class="card">
    
        <div class="live"><h5 style="text-align: center;">live</h5></div>
        <div class="imgs">
            <img src="./assets/real.jpg" class="r1" alt="...">
    
            <img src="./assets/man.png" class="m1" alt="...">
    
        </div>
            <div class="card-body">
              <p class=" text1">Real Madrid  0</p>
              <p class="text2">Manchester City 1</p>
    
              <a href="/resultados" class="btn btn-primary">Resultados</a>
            </div>
          </div> 
    
          <div class="card" style="background: rgba(234, 234, 234, 1);">
    
            <div class="live " style=" background-color: rgba(63, 63, 63, 1);"><h5 style="text-align: center; color: white;">live</h5></div>
            <div class="imgs">
                <img src="./assets/tote.jpg" class="r1" alt="...">
        
                <img src="./assets/psg.jpg" class="m1" alt="...">
        
            </div>
                <div class="card-body">
                  <p class=" text1">TOTTENHAM  0</p>
                  <p class="text2">PSG 1</p>
        
                  <a href="/resultados" class="btn btn-primary">Resultados</a>
                </div>
              </div> 
    
              <div class="card" style="background: rgba(251, 82, 102, 1);" >
    
                <div class="live" style="color:rgba(38, 72, 209, 1) ;"><h5 style="text-align: center;">live</h5></div>
                <div class="imgs">
                    <img src="./assets/live.jpg" class="r1" alt="...">
            
                    <img src="./assets/chel.png" class="m1" alt="...">
            
                </div>
                    <div class="card-body">
                      <p class=" text1">LIVERPOOL  0</p>
                      <p class="text2">CHELSEA 1</p>
            
                      <a href="/resultados" class="btn btn-primary" >Resultados</a>
                    </div>
                  </div> 
    
    </div>
    
    <div>
        <h4 class="h4" style="color: rgb(254, 250, 250);">Eventos Recientes</h4>
    </div >
    

        <img class="vdo" src="./assets/imagen.jpg"  alt="">
    
    
    </div>
</body>
</html>

